/********************************************************/
/******************* TEST PAGE LAYOUT ******************/
/******************************************************/
.states{
	margin-bottom: 70px;
	float: right;
	clear: both;
}
.div-reinvestment-ratio{
	width: 25%;
 	display: inline-block;
    position: absolute;
    top: 70px;
    right: 0px;

	/*float: left;*/
}
#chart{
	width: 70%;
	/*float: left;*/
}

.styled-select.states{
	/*display: none;*/
}

#l_main, #l_proj{
    position: absolute;
    top: 183px !important;
    font-weight: bold;
}
.div-dash-block{
	width: 65%;
    margin-left: 20px;
}
/********************************************************/
/******************* LINE CHART ************************/
/******************************************************/
#chart{
	/*position: relative;*/
}
.line{
	stroke: #1696d2;
	stroke-width: 3px;
	fill: none;
}
.proj_line{
	stroke: #ec008b;
	stroke-width: 3px;
	fill: none;
}
.dot{
	fill: none;
	stroke: none;
	stroke-width: 3px;
	pointer-events: none;
}
.pdot{
	fill: none;
	stroke: none;
	stroke-width: 3px;
	pointer-events: none;	
}
.dot.active{
	stroke: #1696d2;
	fill: white;
}
.pdot.active{
	stroke: #ec008b;
	fill: white;
}
path.domain{
	display: none;
}
.axis .tick text{
	font-family: Lato;
}

/********************************************************/
/********************** TABS ***************************/
/******************************************************/
#tab_container{
	width: 70%;
	clear: both;
}
.tab{
	cursor: pointer;
	width: 150px;
	text-align: center;
	font-family: Lato;
	font-size: 16px;
	display: inline-block;
	padding: 9 25 9 25px;
	background: #f0f0f0;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid black;
	float: left;
	height: 16px;
}
.tab.gap{
	width: calc(70% - 675px);
	background: white;
	border-top: none;
	border-right: 1px solid #fff;
	border-left: none;
	border-bottom: 1px solid black;

}
.tab.active{
	background: white;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: none;
}

/********************************************************/
/******************* STYLED SELECT *********************/
/******************************************************/


.styled-select.filter select{
  pointer-events: none;
}
.styled-select select {
   background: transparent;
   width: 330px;
   height: 45px;
   padding-left: 10px;
   font: 16px Lato;
   color: #818385;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   pointer-events: none;
}
.styled-select select::-ms-expand {
 display: none !important;
}
.styled-select {
   width: 280px;
   height: 45px;
   overflow: hidden;
   background: url(../images/urban-select-2x.png) no-repeat right #EFEFEF;
   background-size: 45px 45px;
   border: none;
   z-index: 2;
   /*position: relative;*/
   overflow: hidden;
}
*:focus{
   outline: 0;
}

/********************************************************/
/******************** TOOLTIP **************************/
/******************************************************/
#tooltip{
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 170px;
	background: #ffffff;
	border: 1px #d2d2d2 solid;
	font-size: 14px;
	pointer-events: none;
	-webkit-box-shadow: 5px 5px 0px 0px rgba(210,210,210,0.55);
	-moz-box-shadow: 5px 5px 0px 0px rgba(210,210,210,0.55);
	box-shadow: 5px 5px 0px 0px rgba(210,210,210,0.55);
	padding: 6px;
	height: 24px;
}
.tt_year{
	margin-right: 3px;
}
#tt_proj_val, #tt_main_val{
	font-weight: bold;
}
#tt_proj{
	line-height: 18px;
}
/********************************************************/
/********************* LEGEND **************************/
/******************************************************/


#l_main, #l_proj{
    position: absolute;
    top: 183px;
    font-weight: bold;
}
#l_main{
	left: 20px;
}
#l_proj{
	left: 270px;
}
#l_main_key, #l_proj_key{
	width: 40px;
    height: 4px;
    float: left;
    margin-right: 10px;
    border-radius: 13px;
    margin-top: 10px;
}
#l_main_text, #l_proj_text{
	float: left;
}
#l_main_key{
	background: #1696d2;
}
#l_proj_key{
	background: #ec008b;
}