/*HEADER*/
body{
    margin:0px;
}
#header-pinned {
    font: 16px Lato;
    color: #333;
    font-weight: 400;
    /* margin-right: 100px; */
    position: fixed;
    /*top:-50px;*/
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #eee;
    z-index: 999;
    -webkit-transition: top 0.25s linear;
    -moz-transition: top 0.25s linear;
    -o-transition: top 0.25s linear;
    transition: top 0.25s linear;
}

.is-visible {
    top: 0px !important;
}

#header-pinned .content {
    height: 49px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#header-pinned *{
    color:#333;
    font-weight: 300;
    text-decoration: none;
}

#header-pinned  .subnav a {
    color: #1696d2;    
}

#header-pinned .subnav a:hover{
    color:#000;
}

#header-pinned .site-logo {

    display: block;
    width: 34px;
    height: 34px;
    position: absolute; 
    left: 10px;
    margin-top: 7px;
    background: url(http://www.urban.org/sites/all/themes/urban/images/logo-mini-dark.png) no-repeat;
    background-size: 34px 34px;
}

#header-pinned .title {
    font-size: 14px;
    line-height: 49px;
    margin: 0 65px 0 55px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#header-pinned .title {
    font-size: 20px;
    margin-left: 80px;
}

#header-pinned .title span,
#header-pinned .title a {
    display: inline;
}

/*#header-pinned .title a:hover{
     color:#1696d2;
}


.subnav a {
   color:#1696d2;    
}*/
#header-pinned .share-icons {
    background-color: transparent;
    width: 69px;
    height: 50px;
    margin: 0;
    padding: 0;
    top: 0;
    width: 60px;
    position: absolute;
    right: 0;
}

#header-pinned .share-icons .shareThisP {
    border-top: 0;
    border-left: 1px solid #e6e5e5;
    height: 50px;
    padding: 9px 0 0;
}

#header-pinned .share-icons .shareThisB {
    float: none;
}

#header-pinned .share-icons .shareThisB {
    display: block;
    background-repeat: no-repeat;
    background-image: url(http://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -2396px;
    height: 32px;
    width: 32px;
    float: none;
    margin: 0 auto;
}

#header-pinned .share-icons .shareThisB:hover {
    background-position: 0 -1948px;
}

#header-pinned .share-icons .shareThisW {
    display: none;
    float: none;
    top: 50px;
    right: 0;
    left: auto;
    width: 300px;
    text-align: right;
    border: 0;
    background: transparent;
}

#header-pinned .share-icons .shareThisW {
    background-color: #fff;
    /* border: 1px solid #e6e5e5; */
    position: absolute;
    top: 50px;
    left: -100px;
    padding: 5px;
    border-top: 0;
    width: 160px;
    z-index:3;
}

#header-pinned .share-icons .addthis_toolbox {
display: inline-block;
    width: auto;
    /* border: 1px solid #e6e5e5; */
    border-top: 0;
    background: #fff;
    padding: 10px 10px 0 0;
    margin: 0 auto;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_facebook {
    display: block;
    background-repeat: no-repeat;
    background-image: url(http://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -2056px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_facebook:hover {
    background-position: 0 -1609px;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_twitter {
    display: block;
    background-repeat: no-repeat;
    background-image: url(http://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1169px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_twitter:hover {
    background-position: 0 -1577px;
}

#header-pinned .share-icons .at15t_linkedin.at16t_linkedin,
#header-pinned .share-icons .addthis_button_linkedin {
    display: block;
    background-repeat: no-repeat;
    background-image: url(http://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1641px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_linkedin.at16t_linkedin,
#header-pinned .share-icons .addthis_button_linkedin:hover {
    background-position: 0 -1379px;
}

#header-pinned .share-icons .at15t_google_plusone_share.at16t_google_plusone_share,
#header-pinned .share-icons .addthis_button_google_plusone_share {
    display: block;
    background-repeat: no-repeat;
    background-image: url(http://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1719px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_email.at16t_email,
#header-pinned .share-icons .addthis_button_email {
    display: block;
    background-repeat: no-repeat;
    background-image: url(http://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1449px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_email.at16t_email,
#header-pinned .share-icons .addthis_button_email:hover {
    background-position: 0 -1271px;
}

#header-pinned .share-icons [class^="addthis_button_"] {
    display: inline-block !important;
    margin: 0 0 0 10px;
}

#header-pinned .share-icons .addthis_toolbox a {
    margin-bottom: 5px;
}

.at_a11y {
    display: none;
}

.header-links {
    height: 40px;
    background-color: #fff;
    width: 100%;
}

.header-links ul {
    height: 40px;
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.header-links ul li {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 22%;
}

#subhead{
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 50px;
    height: 35px;
    background: rgba(255,255,255, .9);
    border-bottom: solid 1px #ccc;
  
}

ul{
/*    list-style: outside none none;
    width: 100%;
    margin: 0 auto;
    text-align: center;*/
}

#subhead ul li{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    padding-left: 1%;

}

#subhead a{
   color:#333;
   display: block;
   padding:10px;
    
}

#subhead .active {
  border-bottom: solid 3px #1696d2; 
    color:#1696d2; 
    padding-bottom: 8px;
}

#subhead a:hover{
  background-color:rgba(22,150,210, .8);
  color:#fff;

    
}


@media(max-width:767px) {
.header-links ul li {
        width:28%;
        font:400 13px/24px Lato, sans-serif
    }
   
    .tt-name, .tt-title {
       font-size: 16px !important;
    }
    .feature-link{
        display: none !important;
    }
    #header-pinned .title{
        font-size: 15px !important;
        margin-left: 55px !important;
    }
}

.header-links a {
    color: #fff;
}

.header-links ul li:hover,
.header-links ul li.hover_effect {
    background-color: rgba(0, 155, 210, .8);
}

/*end css for header*/

 


/********************************************************/
/******************* TEST PAGE LAYOUT ******************/
/******************************************************/
.states{
	margin-bottom: 70px;
	float: right;
	clear: both;
}
.div-reinvestment-ratio{
  /*padding-bottom: 1px;*/
/*width: 25%;*/
    /*display: inline-block;*/
    /*float: right;  */
}

.div-dash-col-right {
  /*width: 25%;*/
  /*float: right;*/
  padding-bottom: 1px;
width: 25%;
    display: inline-block;
    /*float: right;  */
}
#chart{
	width: 70%;
	float: left;
	/*clear: both;*/
}

.styled-select.states{
	/*display: none;*/
}

#l_main, #l_proj{
    position: absolute;
    top: 73px !important;
    font-weight: bold;
}
.div-dash-block{
	width: 100%;
    margin-left: 20px;
    margin-top: 30px;
    display: inline;
    /*clear: */
}
p{
	margin-top: 0 !important;
}



/********************************************************/
/**************** MOBILE INDICATORS ********************/
/******************************************************/


@media (max-width: 767px) {
	.div-utilities{
		padding-left: 0 !important;
		border: none !important;
    	margin-top: -40px;
    	margin-bottom: 30px;
	}
	#is_tablet{
		display: block !important;
	}
}
@media (max-width: 540px) {
	#is_mobile{
		display: block !important;
	}
	#tab_container{
		display: none;
	}
	#mobile_tabs-button{
		display: block;
	}
    #nc_tabs-button{
        display: block;
    }
    #or_tabs-button{
        display: block;
    }
    #ks_tabs-button{
        display: block;
    }
	.caption p{
		margin-left: 20px;
	}
}
#is_tablet, #is_mobile{
	position: fixed;
	z-index: -1;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	display: none;
}

/********************************************************/
/******************* LINE CHART ************************/
/******************************************************/
#chart{
	/*position: relative;*/
}
@media (max-width: 767px) {
	#chart{
		width: 90%;
	}
}
.line{
	stroke: #1696d2;
	stroke-width: 2px;
	fill: none;
}
.proj_line{
	stroke: #fdbf11;
	stroke-width: 2px;
	fill: none;
}
.dot{
	fill: none;
	stroke: none;
	stroke-width: 2px;
	pointer-events: none;
}
.pdot{
	fill: none;
	stroke: none;
	stroke-width: 2px;
	pointer-events: none;	
}
.dot.active{
	stroke: #1696d2;
	fill: white;
}
.pdot.active{
	stroke: #fdbf11;
	fill: white;
}
path.domain{
	display: none;
}
.axis .tick text{
	font-family: Lato;
}



/********************************************************/
/******************** CAPTIONS *************************/
/******************************************************/

#PRO-caption, #PAR-caption{
	display: none;
}


/********************************************************/
/********************** TABS ***************************/
/******************************************************/
#tab_container{
	width: 100%;	
	clear: both;
	z-index: 100;
}
.tab{
	cursor: pointer;
	width: 150px;
	text-align: center;
	font-family: Lato;
	font-size: 16px !important;
	display: inline-block;
	padding: 9 25 9 25px;
	background: #f0f0f0;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid black;
	float: left;
	height: 20px;
	-webkit-box-sizing: initial; 
    -moz-box-sizing: initial;
    box-sizing: initial; 
}
.tab.gap{
	/*width: calc(100% - 750px);*/
	background: white;
	border-top: none;
	border-right: 1px solid #fff;
	border-left: none;
	border-bottom: 1px solid black;
	padding: 9 0 9 0px !important;

}
.tab.active{
	background: white;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: none;
}

@media (max-width: 991px) {
	.tab{
	   padding: 9 5 9 5px;
	}
}
/********************************************************/
/******************* STYLED SELECT *********************/
/******************************************************/


.styled-select.filter select{
  pointer-events: none;
}
.styled-select select {
   background: transparent;
   width: 330px;
   height: 45px;
   padding-left: 10px;
   font: 16px Lato;
   color: #818385;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   pointer-events: none;
}
.styled-select select::-ms-expand {
 display: none !important;
}
.styled-select {
   width: 280px;
   height: 45px;
   overflow: hidden;
   background: url(../images/urban-select-2x.png) no-repeat right #EFEFEF;
   background-size: 45px 45px;
   border: none;
   z-index: 2;
   /*position: relative;*/
   overflow: hidden;
}
*:focus{
   outline: 0;
}

/********************************************************/
/******************** TOOLTIP **************************/
/******************************************************/
#tooltip{
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	width: 170px;
	background: #ffffff;
	border: 1px #d2d2d2 solid;
	font-size: 14px;
	pointer-events: none;
	-webkit-box-shadow: 5px 5px 0px 0px rgba(210,210,210,0.55);
	-moz-box-shadow: 5px 5px 0px 0px rgba(210,210,210,0.55);
	box-shadow: 5px 5px 0px 0px rgba(210,210,210,0.55);
	padding: 6px;
	height: 24px;
	-webkit-box-sizing: initial; 
    -moz-box-sizing: initial;
    box-sizing: initial; 
}
.tt_year{
	margin-right: 3px;
}
#tt_proj_val, #tt_main_val{
	font-weight: bold;
}
#tt_proj{
	line-height: 18px;
}
/********************************************************/
/********************* LEGEND **************************/
/******************************************************/


#l_main, #l_proj{
    position: absolute;
    top: 183px;
    font-weight: bold;
}
#l_main{
	left: 20px;
}
#l_proj{
	left: 270px;
}
@media (max-width: 540px) {
	#l_main{
		top: 58 !important;
	}
	#l_proj{
		top: 88 !important;
		left: 20px !important;
	}
}


#l_main_key, #l_proj_key{
	width: 40px;
    height: 2px;
    float: left;
    margin-right: 10px;
    border-radius: 13px;
    margin-top: 12px;
}
#l_main_text, #l_proj_text{
	float: left;
}
#l_main_key{
	background: #1696d2;
}
#l_proj_key{
	background: #fdbf11;
}

/********************************************************/
/****************** MISC_LAYOUT ************************/
/******************************************************/
.dummy_text{
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.savings-emph{
	font-weight: bold;
}
.disclaimer-asterisk{
	/*display: block;*/
}
#state-selector, #mobile_tabs, #mobile_tabs-button, #nc_tabs, #nc_tabs-button, #ks_tabs, #ks_tabs-button, #or_tabs, #or_tabs-button{
	display: none;
}
.ul-footnotes-item a{
	font-size: 11px;
    line-height: 14px;
    font-style: italic;
    text-transform: none;
    padding:0;
}
.ul-footnotes-item a:hover{
	background-color: none;
	background: none;
	color: #1696d2;
	text-decoration: underline;
}
.nodata-note a{
	text-transform: none;
    padding:0;
    font-size: 16px;
    line-height: 24px;
}
.nodata-note a:hover{
	background-color: none;
	background: none;
	color: #1696d2;
	text-decoration: underline;
}
.span-inline-link a, #github{
	cursor: pointer;
	text-transform: none;
    padding:0;
    font-size: 14px;
    line-height: 24px;	
}
.span-inline-link a:hover, #github:hover{
	background-color: none;
	background: none;
	color: #1696d2;
	text-decoration: underline;
}
.inline-footnote-number.footer{
	top: 0px;
}
#top_text_wrapper{
	z-index: -1;
}
#download-button{
	width: 179px;
    text-align: center;
}
#download-button:hover, #print-button:hover{
	background-color: black;
	color: white;
}
#print-button{
	text-transform: uppercase;
	font-size: 14px;
}
#download-button{
	padding: 0;
}
#dl-text{
	padding: 9 15 9 15px;
}
#dl-state, #dl-natl{
	overflow: hidden;
	height: 0px;
	padding-top: 0px;
	color: #555;
	background-color: #efefef;
}
#dl-state:hover, #dl-natl:hover{
	background-color: #9d9d9d;
	color: white;
}
#dl-state{
	/*border-bottom: none;*/
}
#dl-natl{
	/*background-color: #9d9d9d*/
}
.nodata-note{
	position: absolute;
	opacity: 0;
	pointer-events: none;
    top: 70px;
}
.nav_button{
	text-transform: uppercase;
	font-size: 12px;
}
.nav_button:hover{
	background: black;
	background-color: black;
	color: white;
}